@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #3b82f6;
    /* cursor: none; */
    /* background-color: black; */
    cursor: url(./assets/icons8-ponteiro-azul-24.png), auto ;
}

a,  button:hover{
    cursor: url(./assets/icons8-hand-cursor-30.png), pointer ;
}

body{
    /* background-color:#2561e7 ; */
    background: linear-gradient(110deg, black 8%, #2561e7 100%);
    /* background-color: black; */
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh; */
}

main{
    height: fit-content;
}